<%- include('../partials/header') %>
<h1><%= title %></h1>

<form class="form-container" action="/events" method="POST"> <!-- Event form -->
    <label>Date and time: <!-- formate the date/time later -->
      <input 
        type="datetime-local"
        name="date"
        required
        >
    </label>

    <label>Event title:
      <input type="text" name="title" required>
    </label>

    <label>Location:
      <input type="text" name="location">
    </label>

    <label>Description:
      <textarea name="description" class="textarea"></textarea>
    </label>

    <label>Cost(¥):
      <input type="text" name="cost">
    </label>

    <div class="inline-input">
      <label>Group capacity:
        <select name="capacity">
          <option value="5-10">5-10</option>
          <option value="10-15">10-15</option>
          <option value="15-20">15-20</option>
          <option value="20+">20+</option>
        </select>
      </label>
  
      <label>Venue type:
        <select name="venueType">
          <option value="Indoor">Indoor</option>
          <option value="Outdoor">Outdoor</option>
        </select>
      </label>
    </div>


    <!-- <label>Event Type:
      <select name="eventType">
        <option value="Drawing">Drawing</option>
        <option value="Painting">Painting</option>
        <option value="Music">Music</option>
        <option value="Pottery">Pottery</option>
        <option value="Crafts">Crafts</option>
      </select>
    </label> -->

    <!-- <label>Duration:
      <input type="number" name="duration">
    </label> -->

    <!-- <label>Tags:
      <input type="text" name="description" checked>
    </label> -->

    <button type="submit" class="save-button">Add Event</button> 
  </form>

<%- include('../partials/footer') %>