<%- include('../partials/headerr') %>

<div class="event-form-container">
    <img class="hero-photo" src="/images/thumbnail_1.jpg">
    <h2>Title:</h2>
    <p>Location:</p>
    <p>Time:</p>
    <p>Organier:</p>
    <p>Description:</p>
    <p>Attendees:</p>
</div>

<div class="event-form-container">
    <h2>Comment section</h2>

</div>

<%- include('../partials/footer') %>