<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <ul>
        <li>
          <a href="/events">All Events</a>
        </li>

        <% if (user) { %>
            |
            <li><a href="/events/new">Create Event</a></li>
            <li><a href="/logout">Logout</a></li>
            <li><a href="/users/<%= user.id %>">User</a></li>
        <% } else { %>
            <li><a href="/auth/google" class="login">Login</a></li>
        <% } %>
    </ul>
    <h1><%= title %></h1>
    <div class="main-container">