<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
        <a href="/events">All Events</a>
        <a href="/events/new">Create Event</a>
        |
        <% if (user) { %>
            <a href="/logout">Logout</a>
            <a href="/users/<%= user.id %>">User</a>
        <% } else { %>
            <a href="/auth/google" class="login">Login&nbsp;</a>
        <% } %>
    </nav>
    <h1><%= title %></h1>
    <div class="main-container">