<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
        <!-- <img src="/images/camera.svg"> -->
        
        <% if (user) { %>
            <a href="/logout">Logout</a>
        <% } else { %>
            <a href="/auth/google" class="login">Login&nbsp;</a>
        <% } %>
    </nav>
    <h1><%= title %></h1>