<%- include('../partials/header') %>
<h1><%= title %></h1>

<form action="/users/<%= user._id %>" enctype="multipart/form-data" method="POST" class="form-container">
    <label>
        <h3>Profile picture:</h3>
        <input type="file" name="image">
    </label>

    <label>
        <h3>Username:</h3>
        <input type="text" name="userName" required pattern="^[a-zA-Z0-9_-]{3,20}$">
    </label>

    <label>
        <h3>Your location</h3>
        <input type="text" name="city" required>
    </label>

    <label>
        <h3>Interests:</h3>
        <input type="text" name="interests" required>
    </label>

    <label>
        <h3>Bio:</h3>
        <textarea type="text" name="aboutMe" required pattern="^[a-z]{0,10}$"></textarea>
    </label>
    
    <button type="submit" class="save-button">Save changes</button>
</form>
<%- include('../partials/footer') %>