<%- include('../partials/header') %>
<h1><%= title %></h1>

<div class="card-container">
       
    <img class="thumbnail-photo" src="../images/user_1.jpg">
    <div class="card-texts">
        <h2>Name</h2>
        <p>City</p>
        <p>Interests</p>
        <p>About me</p>
        <p>Events attended:</p>
        <p>Events hosted:</p>
    </div>

</div>

<%- include('../partials/footer') %>